.App {
  background-color: rgba(255, 255, 255, 0.3);
  /* background-image: url("/src/img/background1.jpeg"); */
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
